<div class="page-header">Lập đơn hàng</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header">
                <div class="box-title">Danh sách sản phẩm</div>
                <form class="form-inline" ng-submit="search">
                    <div class="form-group">
                        <label class="control-label col-md-4">Tên SP</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="ProductName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="ProductName" ng-change="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tên SP</th>
                            <th>Thuộc loại</th>
                            <th>Đơn giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in products" class="pointer">
                            <td>{{p.Name}}</td>
                            <td>{{p.ProductCategory.Name}}</td>
                            <td>{{p.Price}}</td>
                        </tr>
                    </tbody>
                </table>

                <!--paging control-->
                <div pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}"
                     total-count="{{totalCount}}" search-func="loadProductList(page)">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <div class="box-title">
                    Giỏ hàng
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên SP</th>
                            <th>Đơn giá</th>
                            <th>SL</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Senko B3</td>
                            <td>120,000</td>
                            <td>2</td>
                            <td>240,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

c86fbc08994c0b05a79d141bd25d3838
nganluong

action
vai tro :mod, add mỗi vai trò có nhieu action       mod 1 - action 1,2,3
phan quyen : user1 - action1 mỗi user co 1 vai tro


anhtien_25112003@yahoo.com