<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        <ui-select ng-model="ctrl.category.selected" autofocus on-select="ctrl.getProductByCategory($item)" tabindex="1">
                            <ui-select-match placeholder="Nhập loại SP.." autofocus>
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in ctrl.categories| filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-6">
                        <ui-select ng-model="ctrl.product.selected"  on-select="" tabindex="2">
                            <ui-select-match placeholder="Nhập tên SP..">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in ctrl.products| filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tên SP</th>
                            <th>Thuộc loại</th>
                            <th>Đơn giá</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in ctrl.products">
                            <td>{{p.Name}}</td>
                            <td>{{p.ProductCategory.Name}}</td>
                            <td>{{p.Price | currency : '' : '0'}}</td>
                            <td>
                                <i ng-click="ctrl.addToCart(p)" class="fa fa-plus-square fa-lg pointer" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--paging control-->
                <div pager-directive page="{{ctrl.page}}" custom-path="{{ctrl.customPath}}" pages-count="{{ctrl.pagesCount}}"
                     total-count="{{ctrl.totalCount}}" search-func="ctrl.loadProductList(page)">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <div class="box-title pull-left">
                    <i class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Giỏ hàng
                </div>
                <div class="box-title pull-right">
                    Tổng cộng : <strong>{{ctrl.total | currency : '' : '0'}}</strong>
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên SP</th>
                            <th>Đơn giá</th>
                            <th>SL</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5" ng-show="ctrl.productInCart">
                                <div class="text-danger text-center">Chưa có sản phẩm trong giỏ hàng</div>
                            </td>
                        </tr>

                        <tr ng-repeat="c in ctrl.cart">
                            <td>{{$index + 1}}</td>
                            <td>{{c.Name}}</td>
                            <td>{{c.Price | currency : '' : '0'}}</td>
                            <td>
                                <input ng-model="c.Quantity" ng-change="ctrl.updateQuantity()" type="number" min="1" class="form-control" style="width:80px;" />
                            </td>
                            <td>{{c.Amount | currency : '' : '0'}}</td>
                            <td>
                                <i ng-click="ctrl.deleteProduct(c.Name)" class="fa fa-times fa-lg" aria-hidden="true" style="cursor:pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="!ctrl.productInCart" class="col-md-offset-9 col-md-2" style="margin-top:20px;">
                    <button ng-click="ctrl.addOrder()" type="button" class="btn bg-maroon-active">
                        <i class="fa fa-usd fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Hoàn thành
                   </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<p>Selected: {{ctrl.category.selected.Name}}</p>-->
