<script type="text/ng-template" id="/app/components/products/views/product-edit.view.html">
    <div class="box box-success">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Sửa sản phẩm : <strong>{{currentProduct.product.Name}}</strong></h4>
        </div>
        <form novalidate class="form-horizontal" name="frmProduct" ng-submit="currentProduct.updateProduct(frmProduct)">
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tên SP</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="currentProduct.product.Name" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Loại</label>
                            <div class="col-md-8">
                                <select ng-options="c.Id as c.Name for c in currentProduct.categories"
                                        ng-model="currentProduct.product.CategoryId" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Giá nhập</label>
                            <div class="col-md-8">
                                <input ng-model="currentProduct.product.PriceImport" type="text" class="form-control" 
                                        pattern="[0-9]+([\.,][0-9]+)*" format-currency />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Giá bán</label>
                            <div class="col-md-8">
                                <input ng-model="currentProduct.product.Price" pattern="[0-9]+([\.,][0-9]+)*" format-currency type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Đơn vị</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="currentProduct.product.Unit" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">B.hành</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="currentProduct.product.Warranty" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" ng-repeat="w in currentProduct.product.WarehouseDetails">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{w.Warehouse.WarehouseName}}</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="w.Quantity" pattern="[0-9]+([\.,][0-9]+)*" format-currency type="text" placeholder="Nhập SL.." />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mô tả</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="currentProduct.product.Description" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Trạng thái</label>
                            <div class="col-md-8">
                                <label>
                                    <input type="checkbox" ng-checked="currentProduct.product.Status"
                                           ng-model="currentProduct.product.Status" />&nbsp;Đang kinh doanh
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn bg-maroon" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Lưu
                </button>

                <button class="btn bg-navy" type="button" ng-click="currentProduct.cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Hủy
                </button>
            </div>
        </form>
    </div>
</script>