
<div class="box box-danger">
    <div class="box-header">
        <div class="row">
            <form ng-submit="product.loadProductList()">
                <!--search category-->
                <div class="col-md-3">
                    <div class="input-group">
                        <ui-select ng-model="product.category" autofocus on-select="product.getProductByCategory($item)" tabindex="1">
                            <ui-select-match placeholder="Nhập loại SP.." autofocus>
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in product.categories| filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                <div class="text-center" style="color:#d34242">
                                    <em>Không tìm thấy..</em>
                                </div>
                            </ui-select-no-choice>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="product.clearCategory()"
                                    class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Xóa từ khóa này">
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <!--search product base category-->
                <div class="col-md-4">
                    <div class="input-group">
                        <ui-select ng-model="product.product" on-select="product.showModalEdit($item)"
                                   tabindex="2" ng-disabled="product.category == null">
                            <ui-select-match placeholder="Nhập tên SP..">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in product.productsByCategory| filter: $select.search">
                                <div class="row">
                                    <div ng-bind-html="item.Name | highlight: $select.search" class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <span ng-if="item.IsOutOfStock" class="pull-right" style="color:#d34242; font-weight:bolder">
                                            Hết hàng
                                        </span>
                                    </div>
                                </div>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                <div class="text-center" style="color:#d34242">
                                    <em>Không tìm thấy..</em>
                                </div>
                            </ui-select-no-choice>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="product.clearProduct()"
                                    class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Xóa từ khóa này">
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn bg-maroon" ng-click="product.showModalAdd()">
                        <i class="fa fa-plus-square "></i>&nbsp; Thêm SP
                    </button>

                    <button type="button" class="btn bg-navy" ng-click="product.showModalUpdateWarehouse()">
                        <i class="ion-cube" style="font-size:15px;"></i>&nbsp; Nhập hàng
                    </button>

                    <button type="button" class="btn bg-gray-light" ng-click="product.showModalDeliveryOrder()">
                        <i class="fa fa-external-link"></i>&nbsp; Xuất kho
                    </button>
                </div>
            </form>
        </div>

        <!--searching form-->

        <div class="row" style="padding-top:10px;">
            <div class="col-md-4 pull-left">
                <p>Hiện có <strong>{{product.totalItems}}</strong> sản phẩm ứng với điều kiện tìm kiếm</p>
            </div>
            <div class="pull-right col-md-3">
                <label class="pull-right"> SP / trang</label>
                <div class="col-md-7 pull-right">
                    <select class="form-control" ng-init="product.pageSize='10'" ng-change="product.changePageSize(product.pageSize)" ng-model="product.pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="80">80</option>
                        <option value="90">90</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="product.sort('Name')" class="pointer">
                        Tên SP
                        <span class="glyphicon sort-icon" ng-show="product.searchingVm.OrderBy=='Name'"
                              ng-class="{'glyphicon-chevron-up':product.searchingVm.SortBy,'glyphicon-chevron-down':!product.searchingVm.SortBy}"></span>
                    </th>

                    <th ng-click="product.sort('CategoryId')" class="pointer">
                        Thuộc loại
                        <span class="glyphicon sort-icon" ng-show="product.searchingVm.OrderBy=='CategoryId'"
                              ng-class="{'glyphicon-chevron-up':product.searchingVm.SortBy,'glyphicon-chevron-down':!product.searchingVm.SortBy}"></span>
                    </th>

                    <th ng-click="product.sort('PriceImport')" class="pointer">
                        Giá nhập
                        <span class="glyphicon sort-icon" ng-show="product.searchingVm.OrderBy=='PriceImport'"
                              ng-class="{'glyphicon-chevron-up':product.searchingVm.SortBy,'glyphicon-chevron-down':!product.searchingVm.SortBy}"></span>
                    </th>

                    <th ng-click="product.sort('Price')" class="pointer">
                        Giá bán
                        <span class="glyphicon sort-icon" ng-show="product.searchingVm.OrderBy=='Price'"
                              ng-class="{'glyphicon-chevron-up':product.searchingVm.SortBy,'glyphicon-chevron-down':!product.searchingVm.SortBy}"></span>
                    </th>

                    <th ng-click="product.sort('OrderedDate')" class="pointer">
                        Ngày ĐH
                        <span class="glyphicon sort-icon" ng-show="product.searchingVm.OrderBy=='OrderedDate'"
                              ng-class="{'glyphicon-chevron-up':product.searchingVm.SortBy,'glyphicon-chevron-down':!product.searchingVm.SortBy}"></span>
                    </th>
                    <th>BH</th>
                    <th ng-repeat="w in product.warehouses">
                        {{w.WarehouseName}}
                    </th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-size:16px;">
                <tr ng-repeat="p in product.list">
                    <td>
                        {{p.Name}}
                        <span ng-if="p.IsOutOfStock" class="label label-danger pull-right">Hết hàng</span>
                    </td>
                    <td>{{p.ProductCategory.Name}}</td>
                    <td>{{p.PriceImport | number}}</td>
                    <td>{{p.Price | number}}</td>
                    <td>{{p.OrderedDate | date : 'dd/MM/yyyy'}}</td>
                    <td>{{p.Warranty}}</td>
                    <td ng-repeat="w in p.WarehouseDetails">
                        <div ng-class="product.setClass(w.Quantity)">
                            {{w.Quantity}}
                        </div>
                    </td>

                    <td>
                        <span ng-class="{'badge bg-green' : p.Status == true, 'badge bg-red' : p.Status == false}">
                            {{p.Status | statusFilter}}
                        </span>
                    </td>
                    <td>
                        <i tooltip-placement="top" uib-tooltip="Sửa SP này" class="ion-wrench pointer 24" style="color:#0b2641;font-size:20px;"
                           ng-click="product.showModalEdit(p)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--paging control-->
        <uib-pagination first-text="trang đầu" last-text="trang cuối" next-text="tới" previous-text="lùi" max-size="5" rotate="false" boundary-links="true"
                        total-items="product.totalItems" item-per-page="product.pageSize" ng-model="product.currentPage"
                        ng-change="product.getPage(product.currentPage)" >
        </uib-pagination>
    </div>
</div>

<!--modal add view-->
<div ng-include src="'/app/components/products/views/product-add.view.html'" ng-show="modalIsOpened"></div>

<!--modal edit view-->
<div ng-include src="'/app/components/products/views/product-edit.view.html'" ng-show="modalIsOpened"></div>

<!--modal update warehouse-->
<div ng-include src="'/app/components/products/views/update-warehouse.view.html'" ng-show="modalIsOpened"></div>

<!--modal delivery order-->
<div ng-include src="'/app/components/products/views/delivery-order.view.html'" ng-show="modalIsOpened"></div>