<div class="box box-danger">
    <div class="box-header">
        <div class="row">
            <form ng-submit="product.loadProductList()">
                <div class="col-md-2">
                    <ui-select ng-model="product.category.selected" autofocus on-select="product.getProductByCategory($item)" tabindex="1">
                        <ui-select-match placeholder="Nhập loại SP.." autofocus>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in product.categories| filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-3">
                    <ui-select ng-model="product.product.selected" on-select="product.getProductByName($item)" tabindex="2">
                        <ui-select-match placeholder="Nhập tên SP..">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in product.list| filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-3">
                    <div class="col-md-6" ng-repeat="w in product.warehouses">
                        <label class="control-label">
                            <input type="checkbox" ng-model="w.WarehouseId" ng-checked="true" />
                            &nbsp;&nbsp;&nbsp;{{w.WarehouseName}}
                        </label>
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="submit" class="btn bg-navy">
                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp; Tìm kiếm
                    </button>

                    <button class="btn bg-maroon" ng-click="product.showModalAdd()">
                        <i class="fa fa-plus-square "></i>&nbsp; Thêm SP
                    </button>

                    <button class="btn bg-purple" ng-click="product.showModalUpdateWarehouse()">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; Nhập hàng
                    </button>
                </div>
            </form>
        </div>

        <!--searching form-->

        <div class="row" style="padding-top:10px;">
            <div class="col-md-4 pull-left">
                <p>Hiện có <strong>{{product.totalCount}}</strong> sản phẩm ứng với điều kiện tìm kiếm</p>
            </div>
            <div class="pull-right col-md-3">
                <label class="pull-right"> SP / trang</label>
                <div class="col-md-7 pull-right">
                    <select class="form-control" ng-init="product.pageSize='10'" ng-change="product.changePageSize(product.pageSize)" ng-model="product.pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="80">80</option>
                        <option value="90">90</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="sort('Name')" class="pointer">
                        Tên SP
                        <span class="glyphicon sort-icon" ng-show="sortKey=='productName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('ProductCategory.Name')" class="pointer">
                        Thuộc loại
                        <span class="glyphicon sort-icon" ng-show="sortKey=='categoryName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('PriceImport')" class="pointer">
                        Giá nhập
                        <span class="glyphicon sort-icon" ng-show="sortKey=='priceImport'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('Price')" class="pointer">
                        Giá bán
                        <span class="glyphicon sort-icon" ng-show="sortKey=='price'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('OrderedDate')" class="pointer">
                        Ngày ĐH
                        <span class="glyphicon sort-icon" ng-show="sortKey=='orderedDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th>BH</th>
                    <th ng-repeat="w in product.warehouses">{{w.WarehouseName}}</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in product.list |orderBy: sortKey: reverse">
                    <td>{{p.Name}}</td>
                    <td>{{p.ProductCategory.Name}}</td>
                    <td>{{p.PriceImport | currency : '': '0'}}</td>
                    <td>{{p.Price | currency : '' : '0'}}</td>
                    <td>{{p.OrderedDate | date : 'dd/MM/yyyy'}}</td>
                    <td>{{p.Warranty}}</td>
                    <td ng-repeat="w in p.WarehouseDetails">
                        <span ng-class="{'label label-danger' : w.Quantity <= 2, 'label label-warning' : w.Quantity <= 5 && w.Quantity > 2, 'label label-success' : w.Quantity >= 10}">
                            {{w.Quantity}}
                        </span>
                    </td>
                    <td>
                        <span ng-class="{'badge bg-green' : p.Status == true, 'badge bg-red' : p.Status == false}">
                            {{p.Status | statusFilter}}
                        </span>
                    </td>
                    <td>
                        <i class="fa fa-pencil-square-o fa-lg pointer" style="color:#0b2641"
                           title="Sửa SP này" ng-click="product.showModalEdit(p)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--paging control-->
        <div class="row">
            <div class="col-md-6" pager-directive page="{{product.page}}" custom-path="{{product.customPath}}" pages-count="{{product.pagesCount}}"
                 total-count="{{product.totalCount}}" search-func="product.getPage(page)">
            </div>

            <div class="col-md-6">
                <div class="text-right" style="margin-top:20px;">

                </div>
            </div>
        </div>
    </div>
</div>

<!--modal add view-->
<div ng-include src="'/app/components/products/views/product-add.view.html'" ng-show="modalIsOpened"></div>

<!--modal edit view-->
<div ng-include src="'/app/components/products/views/product-edit.view.html'" ng-show="modalIsOpened"></div>

<!--modal update warehouse-->
<div ng-include src="'/app/components/products/views/update-warehouse.view.html'" ng-show="modalIsOpened"></div>