<script type="text/ng-template" id="/app/components/products/views/product-edit.view.html">
    <div class="box box-success" style="display:none;">
        <div class="modal-header">
            <h4 class="modal-title">Sửa sản phẩm : <strong>{{product.Name}}</strong></h4>
        </div>
        <form novalidate class="form-horizontal" name="frmProduct" ng-submit="updateProduct(frmProduct)">
            <div class="modal-body">

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tên SP</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="product.Name" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Loại</label>
                            <div class="col-md-8">
                                <select ng-options="c.Id as c.Name for c in productCategories" ng-model="product.CategoryId" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Giá nhập</label>
                            <div class="col-md-8">
                                <input ng-model="product.PriceImport" pattern="[0-9]+([\.,][0-9]+)*" format-currency type="text"class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Giá bán</label>
                            <div class="col-md-8">
                                <input ng-model="product.Price" pattern="[0-9]+([\.,][0-9]+)*" format-currency type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Đơn vị</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="product.Unit" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">B.hành</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="product.Warranty" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" ng-repeat="w in product.WarehouseDetails">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{w.Warehouse.WarehouseName}}</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="w.Quantity" pattern="[0-9]+([\.,][0-9]+)*" format-currency type="text"  placeholder="Nhập SL.." />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mô tả</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="product.Description" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Trạng thái</label>
                            <div class="col-md-8">
                                <label>
                                    <input type="checkbox" ng-checked="product.Status" ng-model="product.Status" />&nbsp;Đang kinh doanh
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn bg-maroon" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Lưu
                </button>

                <button class="btn bg-navy" type="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Hủy
                </button>
            </div>
        </form>
    </div>
</script>