<script type="text/ng-template" id="/app/components/products/views/updateWarehouseView.html">
    <div class="box box-success">
        <div class="modal-header">
            <h4 class="modal-title">Nhập hàng</h4>
        </div>
        <form novalidate class="form-horizontal" name="frmProduct" ng-submit="updateWarehouse(frmProduct)">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">Tên danh mục</label>
                        <div class="col-md-5">
                            <select class="form-control" ng-model="ParentCategory" required tabindex="1" 
                                    ng-change="getCategoriesByParent(ParentCategory)" 
                                    ng-options="p.ParentCategoryId as p.ParentCategoryName for p in parentCategories">
                                <option value="" selected> -- Chọn tên danh mục -- </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Loại sản phẩm</label>
                        <div class="col-md-5">
                            <select ng-options="c.Id as c.Name for c in productCategories"class="form-control" tabindex="2" required 
                                    ng-model="ProductCategory" ng-change="getProductsByCategory(ProductCategory)">
                                <option value="" selected> -- Chọn loại SP -- </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Sản phẩm</label>
                        <div class="col-md-5">
                            <select ng-model="ProductName" class="form-control" tabindex="3" required
                                    ng-options="product.Id as product.Name for product in productList">
                                <option value="" selected> -- Chọn sản phẩm -- </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="w in warehouses">
                        <label class="control-label col-md-3">{{w.WarehouseName}}</label>
                        <div class="col-md-5">
                            <input ng-model="w.Quantity" pattern="[0-9]+([\.,][0-9]+)*" format-currency type="text" class="form-control"  placeholder="Nhập SL.."/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn bg-maroon" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Lưu
                </button>

                <button class="btn bg-navy" type="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Hủy
                </button>
            </div>
        </form>
    </div>
</script>