<div class="box box-primary">
    <div class="box-header">
        <div class="row">
            <form novalidate ng-submit=""
        </div>

    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên</th>
                    <th>Thuộc loại</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in category.list">
                    <td>{{c.Id}}</td>
                    <td>{{c.Name}}</td>
                    <td>{{c.ParentProductCategory.ParentCategoryName}}</td>
                    <td>
                        <span ng-class="{'badge bg-green' : c.Status == true, 'badge bg-red' : c.Status == false}">
                            {{c.Status | statusFilter}}
                        </span>
                    </td>
                    <td>
                        <!--<i class="fa fa-pencil-square-o fa-lg pointer" style="color:#3883cc"
                           title="Sửa SP này" ui-sref="edit_product_category({id:c.Id})"></i>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <!--paging control-->
        <div pager-directive page="{{category.page}}" custom-path="{{category.customPath}}" pages-count="{{category.pagesCount}}"
             total-count="{{category.totalCount}}" search-func="category.loadCategoryList(page)">
        </div>
    </div>
</div>

<!--modal add-->
<div ng-include src="'/app/components/categories/views/category-add.view.html'" ng-show="modalIsOpened"></div>

<!--modal add-->
<div ng-include src="'/app/components/categories/views/category-edit.view.html'" ng-show="modalIsOpened"></div>