<script type="text/ng-template" id="/app/components/categories/views/category-edit.view.html">
    <div class="box box-info">
        <div class="modal-header with-border">
            <h4 class="box-title"><i class="fa fa-pencil-square-o"></i>
            Sửa danh mục : <strong>{{currentCategory.category.Name}}</strong>
            </h4>
        </div>

        <form class="form-horizontal" novalidate name="frmCategory" role="form" ng-submit="currentCategory.submitForm(frmCategory)">
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Danh mục cha</label>
                        <div class="col-md-5">
                            <select class="form-control" ng-model="currentCategory.category.ParentCategoryId" ng-required="true"
                                    ng-options="p.ParentCategoryId as p.ParentCategoryName for p in currentCategory.parentCategories">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Tên danh mục</label>
                        <div class="col-md-5">
                            <input ng-model="currentCategory.category.Name" ng-required="true" class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Kích hoạt</label>
                        <div class="col-md-5">
                            <input type="checkbox" ng-checked="currentCategory.category.Status" 
                                   ng-model="currentCategory.category.Status"  ng-required="true"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn bg-maroon" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Lưu
                </button>

                <button class="btn bg-navy" type="button" ng-click="currentCategory.cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Hủy
                </button>
            </div>
        </form>
    </div>
</script>


