<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quản trị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <link href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/angular-ui-select/dist/select.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/admin/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Assets/admin/css/skins/_all-skins.min.css">
    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse" ng-app="eshop">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!--main-header-->
        @{Html.RenderPartial("Header");}
        
        <!--./main-header-->
        <!-- Left side column. contains the sidebar  NAVIGATION -->
        @{Html.RenderPartial("Navigation");}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper override">
            <section class="content">
                <div ui-view></div>
            </section>
        </div>


        <!-- /.content-wrapper -->
        @*<footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Tan Hung EShop</strong> All rights reserved.
        </footer>*@

        <!-- Control Sidebar -->
        @{Html.RenderPartial("ControlSidebar");}
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Assets/admin/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Assets/admin/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/admin/libs/slimscroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>

    <!-- AdminLTE App -->
    <script src="/Assets/admin/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    <script src="/Assets/admin/js/demo.js"></script>
    <!-- Begin embed angularJS -->
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.min.js"></script>
    <script src="~/Assets/admin/libs/dirPagination/dirPagination.js"></script>
    @*<script src="~/Assets/admin/libs/bootbox/bootbox.js"></script>
        <script src="~/Assets/admin/libs/ngBootbox/ngBootbox.js"></script>*@

    <!--for modal bootstrap-->
    <script src="~/Assets/admin/libs/angular-animate/angular-animate.min.js"></script>
    <script src="~/Assets/admin/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!--select2-->
    <script src="~/Assets/admin/libs/angular-ui-select/dist/select.min.js"></script>

    <!--begin custom JS-->
    <script src="~/app/shared/modules/eshop.common.js"></script>
    <!--Services-->
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>

    <!--Directives-->
    <script src="~/app/shared/directives/formatCurrencyDirective.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>

    <!--Filters-->
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/filters/capitalizeFilter.js"></script>

    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/product_categories/productCategories.module.js"></script>
    <script src="~/app/app.js"></script>

    <!--Controllers-->
    <script src="~/app/components/products/controllers/productListController.js"></script>
    <script src="~/app/components/products/controllers/productAddController.js"></script>
    <script src="~/app/components/products/controllers/productEditController.js"></script>
    <script src="~/app/components/products/controllers/updateWarehouseController.js"></script>

    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/product_categories/controllers/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/controllers/productCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/controllers/productCategoryEditController.js"></script>
</body>
</html>
