<div class="box box-danger">
    <div class="box-header">
        <div class="box-title">Danh sách hóa đơn</div>
    </div>
    <div class="box-body">
        <!--<table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ng lập HD</th>
                    <th>Ngày lập</th>
                    <th>Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>-->
    </div>
    <div class="box-footer">
        <div class="col-md-3"> <!--ng-required="true"-->
            <p class="input-group">
                <input type="text" datepicker-popup uib-datepicker-popup="dd/MM/yyyy"
                       clear-text="Xóa" is-open="order.datePickerOpen"
                       close-text="Đóng" ng-model="order.dt" class="form-control"
                       current-text="Hôm nay">
                <span class="input-group-btn btn-">
                    <button ng-click="order.openDatePicker($event)" type="button" class="btn bg-navy">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</div>