<div class="box box-danger">
    <div class="box-header">
        <h4 class="box-title"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Danh sách hóa đơn</h4>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ng lập HD</th>
                    <th>Ngày lập</th>
                    <th>Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        
    </div>
</div>